header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3em;
}

header>h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
}

header>nav>ul {
    display: flex;
    justify-content: center;
}

header>nav>ul>li {
    font-size: 1.15em;
    margin: 0.5em;
    list-style-type: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 30em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmap>p {
    font-weight: 800;
}

article>ul {
    width: 20em;
}

footer {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}